@font-face{
  font-family: 'Consolas';
  src : url(localized/fonts/consola-1.ttf);
}

html,
body,
.app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.progress {
  max-width: 30%;
  margin: 45vh auto 55vh auto;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to right, #010305, #131516); */
  background-color: #1B1B2A;
}

.sequencer,
.controls {
  width: 80vw;
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.control {
  text-align: center;
}
.control input {
  margin-bottom: 20px;
}
.control .btn{
  background-color: #2196F3;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: auto 10px;
  margin: 0;
  width: 100%;
  height: 100%;
  text-transform:capitalize;
}
.control
.select-wrapper span.caret {
  color: inherit; /* Override materialize.css black */
}
.select-wrapper input.select-dropdown {
  margin-bottom: 10px;
}
.input-field {
  margin-top: 0;
}
input[type='range'] {
  border: 0;
}
input[type='range'] + .thumb {
  background-color: #2196f3;
}
input[type='range']::-webkit-slider-thumb {
  background-color: #2196f3;
}
input[type='range']::-moz-range-thumb {
  background-color: #2196f3;
}
input[type='range']::-ms-thumb {
  background-color: #2196f3;
}
.control .share {
  margin-top: 10px;
}
.midi-output,
.midi-clock-input,
.select-wrapper {
  max-width: 200px;
  margin: 0 auto;
}
.select-wrapper input {
  color: white;
}
.sequencer {
  position: relative;
  height: 70vh;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.sequencer .legend {
  flex: 0.75;
  display: flex;
  flex-direction: column;
}
.drum-class {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2.5px;

  font-size: 12px;
  color: #999;
}
.sequencer .steps {
  flex: 9;
  display: flex;
  flex-direction: row;
}
.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
}
.steps {
  transform-style: preserve-3d;
}
.gutter {
  width: 5px;
}
.gutter.seed-marker {
  border-radius: 3px;
  background-color: #aaa;
  margin: 0 10px;
  cursor: move;
}
.gutter.seed-marker:hover {
  background-color: white;
}
.cell {
  margin: 2.5px 0;
  background-color: rgba(100, 100, 100, 0.1);
  border: 1px solid rgba(100, 100, 100, 0.2);
  /* background-color: rgba(255, 255, 255, 0.09); */
  /* border: 1px solid #979797; */
  border-radius: 3px;
  z-index: 0;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: rgba(100, 100, 100, 0.5);
}
.step:not(.regenerating) .cell.on {
  /* background-color: #64b5f6; */
  background-color: #4589F4;
  opacity: 1;
}

.step.seed .cell.on {
  /* background-color: #e91e63; */
  background-color: #FF7877;
}

.regenerate {
  position: absolute;
  visibility: hidden;
  font-size: 30px;
  line-height: 56px;
}

.kick {
  flex: 2;
  margin-bottom: 10px;
}
.snare {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hi-hat-closed {
  flex: 1;
  margin-top: 10px;
}
.hi-hat-open {
  flex: 1;
  margin-bottom: 10px;
}
.tom-low {
  flex: 1;
  margin-top: 10px;
}
.tom-mid {
  flex: 1;
}
.tom-high {
  flex: 1;
  margin-bottom: 10px;
}
.clap {
  flex: 1;
  margin-top: 10px;
}
.rim {
  flex: 1;
}

.info {
  max-width: 50%;
  margin: 100px auto;
  text-align: center;
}
.info p {
  margin-top: 50px;
}


.refresh {
  background-color: #FF7877 !important;
}


.dark_window {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0;
  opacity:.0;
  filter: alpha(opacity=0);
}

.light_window, .seed_window {
  display: none;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #1f2029;
  text-align: center;
  z-index:1002;
  overflow: auto;
  /*-moz-opacity: 0.9;*/
  /*opacity:.90;*/
  /*filter: alpha(opacity=90);*/

  /*-moz-opacity: 0.95;*/
  /*opacity:.95;*/
  /*filter: alpha(opacity=95);*/
  color: white;
  border: solid 1px #363636;
  border-radius: 10px;
}

#close_page, #close_seed{
  border: 1px solid transparent;  //自定义边框
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  right: 10px;
  top:10px;
  position: absolute;
  color: white;
  cursor: pointer;
}

.page-all{
  display: -webkit-flex; /* Safari */
  display: flex;
  height: 100%;
}

.page-left{
  width: 70%;
}

.page-right{
  width: 30%;
  text-align: left;
  padding: 6%;
  padding-top: 3%;
}

.page-middle{
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 5% 0;
}

.right-head{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 5px;
}

.slider-bar{
  position: relative;
}

.right-control{
  margin-bottom: 20%;
}

.right-control-description{
  font-size: 0.8em;
  display: none;
}

.right-control-title{
  margin-bottom: 0;
}

#left_code{
  font-family: Consolas, sans-serif;
  width: 90%;
  height: 70%;
  margin: 5%;
  border: none;
  border-radius: 10px;
  /*background-color: #1B1B2A;*/
  /*background-color: rgba(255, 255, 255, 0.3);*/
}

textarea{
  outline: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

input::-ms-clear {
  display: none;
}

.btn_group{
  text-align: left;
  margin: 0 10%;
}

.btn_group .btn_left{
  margin: 0 5px;
  padding: 10px;
  color: white;
  background-color: #1B1B2A;
  border: solid 1px white;
  border-radius: 5px;
  cursor: pointer;
}

.btn_group .active{
  background-color: #2196F3;
  border-color: #2196F3;
 }

#seed{
  text-align: left;
  display: flex;
}

#seed_btn{
  margin: auto 10px;
  margin-left: 0;
  padding: 10px 20px;
  color: white;
  background-color: #2196F3;
  border: solid 1px #2196F3;
  border-radius: 5px;
  cursor: pointer;
}

#seed_description{
  font-size: 0.8em;
  word-wrap:break-word;
  word-break:break-all;
}


.seed_window{
  padding: 3%;
}

.seed_title{
  display: flex;
}

.seed_head, .seed_detail, .seed_icon{
  margin: 0;
  display:table-cell;
  vertical-align: bottom;
}

.seed_icon{
  margin-left: 10px;
}

.seed_head{
  margin-right: 10px;
  margin-left: 5px;
}

.seed_detail{
  font-size: 0.8em;
  margin: 0 10px;
  padding-top: 10px;
}

.seed_hr{
  width: 100%;
  border-top: solid 1px rgba(255,255,255,0.6);
  margin: 10px;
}

.seed_row{
  display: flex;
  width: 100%;
}

.seed_col_head{
  text-align: right;
  flex: 1;
  line-height: 3em;
  padding-right: 50px;
}

.seed_col{
  background-color: #2f303f;
  border-radius: 5px;
  padding: 1.5em;
  margin: 4px 5px;
  flex: 1;
}

.seed_col_active{
  background-color: #005b7f;
  border: solid 1px #eaeaea;
}

